
*{
    margin: 0;
    padding: 0;
}
#navbar {
    background-color: #333;
    overflow: hidden;
    
}
#navbar a{
    float: left;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bolder;
}

#navbar a:hover{
    background-color: rgb(114, 114, 114);
    border-radius: 4px;
}
#para{
    background-image: url(https://cdn.pixabay.com/photo/2020/07/08/13/45/switzerland-5383970_1280.jpg);
    background-size: cover;
    height: 400px;
    text-align: left;
    font-size: 20px;
    padding: 100px 100px;
    
}
#para h4{
    font-size: 24px;
    color: #ffffff;
    padding: 5px;
}
#para2 {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 97, 97);
    padding-top: 200px;
}
#para2 p {
    font-size: small;
    padding: 10px;
    color: rgb(255, 255, 255);
}
