#first {
    background-color: blueviolet;
    text-align: center;
    font-size: larger;
    color: white;
    padding: 20px;
}
#para {
    background-color: green;
    color: white;
    padding: 10px;
}